*{
    
}

.criar_container{
    width: 450px;
    margin: 0 auto;
    padding: 3em;     

}

.criar_container h1{
    margin-bottom: 0.5em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;    
}

.criar_container p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 88%;    
}


/* o padding do criar_container é pra dar espaçamento interno mas não ta indo */