.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;   
}

.form_control label {
    margin-bottom: .6em;
    font-weight: bold;
}

.form_control select {
    padding: .7em;
    border-radius: 2%;
    border: none;
    background-color: rgba(255, 255, 240, 0.242);
}

.form_control option {
    color: #7b7b7b;
    font-family: Arial, Helvetica, sans-serif;    
}

