.submit {
    /* background-color: rgb(255,237, 158); */
    background-color: rgba(244, 165, 96, 0.179);
    color: #222;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: 5s;
    cursor: pointer;
    border: none;
    border-radius: 7%; 
    font-family: Arial, Helvetica, sans-serif;  
}

.submit:hover{
    color: #d7d3d3;    
}