.navbar {
    width: 100%;
    height: 100px;
    background: linear-gradient(90deg, hsla(16, 100%, 76%, 1) 0%, hsla(49, 100%, 81%, 1) 100%);
    margin: auto;
    height: 80px; 
    display: flex;
    align-items: center;    
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
}

.item {
    margin-right: 5em;
}

.item a{
    color: #000000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;    
}

.item a:hover{
    color: #d7d3d3;
}